{
  "extends": "eslint:recommended",
  "rules": {
    "accessor-pairs": "error",
    "arrow-parens": ["warn", "always"],
    "brace-style": "off",
    "block-spacing": "warn",
    "camelcase": "off",
    "comma-dangle": ["warn", "never"],
    "comma-spacing": ["warn", {
      "before": false,
      "after": true
    }],
    "comma-style": ["warn", "last"],
    "constructor-super": "error",
    "curly": ["warn", "multi-line"],
    "dot-location": ["error", "property"],
    "eqeqeq": "error",
    "func-call-spacing": ["error", "never"],
    "handle-callback-err": "error",
    "key-spacing": ["warn", { "beforeColon": false }],
    "keyword-spacing": ["warn", { "before": true }],
    "new-cap": "error",
    "new-parens": "error",
    "no-array-constructor": "error",
    "no-class-assign": "error",
    "no-console": "off",
    "no-constant-condition": "error",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-extend-native": "warn",
    "no-extra-boolean-cast": "warn",
    "no-ex-assign": "error",
    "no-fallthrough": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-labels": "warn",
    "no-label-var": "error",
    "no-lone-blocks": "error",
    "no-multiple-empty-lines": ["off", { "max": 2 }],
    "no-multi-spaces": "warn",
    "no-nested-ternary": "error",
    "no-new": "warn",
    "no-new-func": "warn",
    "no-new-object": "warn",
    "no-new-require": "warn",
    "no-new-symbol": "warn",
    "no-new-wrappers": "warn",
    "no-octal": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": "off",
    "no-self-assign": "warn",
    "no-self-compare": "warn",
    "no-sequences": "warn",
    "no-sparse-arrays": "warn",
    "no-template-curly-in-string": "warn",
    "no-this-before-super": "warn",
    "no-throw-literal": "warn",
    "no-undefined": "off",
    "no-undef-init": "warn",
    "no-unmodified-loop-condition": "warn",
    "no-unneeded-ternary": "warn",
    "no-unreachable": "error",
    "no-unsafe-negation": "error",
    "no-unused-vars": ["warn", {
      "vars": "all",
      "args": "after-used"
    }],
    "no-useless-call": "warn",
    "no-useless-computed-key": "warn",
    "no-useless-constructor": "warn",
    "no-useless-escape": "warn",
    "no-whitespace-before-property": "error",
    "no-with": "warn",
    "object-property-newline": "off",
    "padded-blocks": "off",
    "quote-props": ["warn", "as-needed"],
    "rest-spread-spacing": "warn",
    "semi": ["off", "always"],
    "semi-spacing": ["warn", {
      "before": false,
      "after": true
    }],
    "space-before-blocks": "warn",
    "space-before-function-paren": ["off", {
      "anonymous": "always",
      "named": "never"
    }],
    "space-infix-ops": "warn",
    "spaced-comment": "off",
    "use-isnan": "warn",
    "valid-typeof": "error",
    "wrap-iife": "warn",
    "yield-star-spacing": "warn",
    "yoda": "warn"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "jquery": true,
    "shelljs": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "jsx": true,
    "modules": true
  }
}
