{
  "extends": "eslint:recommended",
  "plugins": ["react"],
  "rules": {
    "arrow-parens": ["error", "always"],
    "brace-style": 1,
    "comma-dangle": ["error", "never"],
    "comma-style": [2, "last"],
    "keyword-spacing": 1,
    "no-console": 0,
    "no-multi-spaces": 1,
    "no-nested-ternary": 2,
    "no-undefined": 1,
    "no-undef-init": 1,
    "no-unused-vars": [1, {
      "vars": "all",
      "args": "after-used"
    }],
    "no-use-before-define": 1,
    "quote-props": ["error", "as-needed"],
    "semi": [2, "always"],
    "space-before-function-paren": ["error", "never"],
    "space-before-blocks": 1,

    "react/react/prop-types": 0
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "jquery": true,
    "shelljs": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true
  }
}
