atom/.atom/storage
atom/.atom/compile-cache
atom/.atom/dev
atom/.atom/.npm
atom/.atom/.node-gyp
atom/.atom/local-history
atom/.atom/packages
atom/.atom/.apm
atom/.atom/.git-history
atom/.atom/projects.cson
