"*":
  "atom-material-ui":
    accentColor: "Cyan"
    compactTreeView: true
    depth: true
    showTabIcons: "Show on all tabs"
    tabSize: "Small"
  "atom-terminal":
    app: "/Applications/iTerm.app"
    args: "$PWD"
  "autoclose-html":
    closeOnEndOfOpeningTag: true
    makeNeverCloseElementsSelfClosing: true
  "autocomplete-plus":
    confirmCompletion: "enter"
    includeCompletionsFromAllBuffers: false
    navigateCompletions: "ctrl-p,ctrl-n"
    strictMatching: true
  "color-picker":
    automaticReplace: true
  core:
    audioBeep: false
    destroyEmptyPanes: false
    disabledPackages: []
    ignoredNames: [
      "._*"
      ".git"
      ".svn"
      ".DS_Store"
      ".idea"
      ".sass-cache"
      ".vagrant"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Ricty Discord"
    fontSize: 13
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  emmet:
    extensionsPath: "~/.atom/emmet"
    formatLineBreaks: false
  "exception-reporting":
    userId: "c050b5ac-4cd0-135b-483c-771ba37974c2"
  "fuzzy-finder":
    ignoredNames: [
      "._*"
      ".git"
      "Thumbs.db"
      ".DS_Store"
      "node_modules"
      "bower_components"
      ".idea"
      ".vagrant"
    ]
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-column":
    lineMode: true
  "highlight-line":
    enableBackgroundColor: false
    enableUnderline: true
    hideHighlightOnSelect: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  "isotope-light-ui":
    spaciousMode: true
  "isotope-ui":
    backgroundColor: "false"
    customBackgroundColorPicker:
      alpha: 1
      blue: 55
      green: 113
      red: 2
    lowContrastTooltip: true
    minimalMode: true
  linter:
    showErrorPanel: false
    showErrorTabLine: false
    statusIconPosition: "Right"
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  minimap:
    plugins:
      "find-and-replace": true
      "git-diff": true
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui":
    layoutMode: "Compact"
  "open-recent":
    listDirectoriesAddedToProject: true
  pigments:
    sortPaletteColors: "by name"
  tabs:
    enableVcsColoring: true
    tabScrolling: true
  "tidy-markdown":
    runOnSave: false
  "tree-view":
    hideIgnoredNames: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "web-browser":
    useRightPane: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
