"*":
  "atom-alignment": {}
  "atom-autocomplete-php": {}
  "atom-beautify":
    _analyticsUserId: "3352bfa0-b090-4e60-8e86-3d7ddc61c698"
    analytics: false
    css_align_assignments: true
    css_convert_quotes: "double"
    css_force_indentation: true
    css_indent_comments: false
    css_preserve_newlines: true
    css_selector_separator_newline: true
    html_brace_style: "expand"
    html_end_with_newline: true
    html_indent_inner_html: true
    html_max_preserve_newlines: 2
  "atom-css-comb": {}
  "atom-material-ui":
    accentColor: "Cyan"
    compactTreeView: true
    depth: true
    showTabIcons: "Show on all tabs"
    tabSize: "Small"
  "auto-update-packages": {}
  "autoclose-html":
    closeOnEndOfOpeningTag: true
    makeNeverCloseElementsSelfClosing: true
  "autocomplete-php": {}
  "autocomplete-plus":
    autoActivationDelay: 300
    backspaceTriggersAutocomplete: false
    confirmCompletion: "enter"
    defaultProvider: "Fuzzy"
    includeCompletionsFromAllBuffers: false
    navigateCompletions: "ctrl-p,ctrl-n"
    strictMatching: true
  "bracket-matcher":
    autocompleteSmartQuotes: true
  "color-picker":
    automaticReplace: true
  core:
    audioBeep: false
    destroyEmptyPanes: false
    disabledPackages: [
      "autoclose-html"
      "Sublime-Style-Column-Selection"
      "atom-ternjs"
      "build"
      "local-history"
      "term"
      "language-babel"
      "linter-tidy"
      "linter-jshint"
    ]
    followSymlinks: true
    ignoredNames: [
      "._*"
      ".git"
      ".svn"
      ".DS_Store"
      ".idea"
      ".sass-cache"
      ".vagrant"
      "delivery"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
  docblockr:
    auto_add_method_tag: true
    extra_tags_go_after: true
  editor:
    backUpBeforeSaving: true
    fontFamily: "Ricty Diminished Discord"
    invisibles: {}
    nonWordCharacters: "()\"',<>[]{}`:;"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  emmet:
    formatLineBreaks: false
    useEmmetComments: true
  "exception-reporting":
    userId: "c050b5ac-4cd0-135b-483c-771ba37974c2"
  "find-and-replace": {}
  "git-blame": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-history": {}
  "git-plus": {}
  "go-plus":
    formatTool: "gofmt"
    goInstallation: "/usr/local/bin/go"
    goPath: "/Users/sota/dev/go/myproject"
  "highlight-line":
    enableBackgroundColor: false
    enableUnderline: true
    hideHighlightOnSelect: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    lightTheme: true
  "isotope-light-ui":
    spaciousMode: true
  "isotope-ui":
    backgroundColor: "false"
    customBackgroundColorPicker:
      alpha: 1
      blue: 55
      green: 113
      red: 2
    lowContrastTooltip: true
    minimalMode: true
  "japanese-wrap":
    characterWidth: {}
    lineBreakingRule:
      halfwidthKatakana: false
      japanese: false
  "language-babel": {}
  linter:
    showErrorPanel: true
    showErrorTabLine: false
    statusIconPosition: "Right"
  "linter-csslint":
    csslintExecutablePath: "/Users/sota/.nodebrew/current/bin/csslint"
  "linter-eslint":
    eslintrcPath: "/Users/sota/.eslintrc"
    globalNodePath: "/Users/sota/.nodebrew/node/v5.2.0"
    lintHtmlFiles: true
    useGlobalEslint: true
  "linter-htmlhint":
    htmlhintExecutablePath: "/Users/sota/.nodebrew/current/bin/htmlhint"
  "linter-js-standard":
    style: "happiness"
  "linter-jscs": {}
  "linter-jshint":
    jshintExecutablePath: "/Users/sota/.nodebrew/current/bin/jshint"
    lintInlineJavaScript: true
  "linter-php": {}
  "linter-phplint":
    phpExecutablePath: "/Users/sota/.nodebrew/current/bin/phplint"
  "linter-scss-lint":
    scssLintExecutablePath: "/usr/bin/scss-lint"
  "linter-tidy": {}
  "local-history": {}
  localization:
    CurrentLanguage: "default"
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  minimap:
    plugins:
      "find-and-replace": true
      "git-diff": true
  "one-dark-ui":
    fontSize: 10
    layoutMode: "Compact"
  "one-light-ui":
    layoutMode: "Compact"
  "one-o-eight-syntax":
    backgroundVariant: "Dark"
    foregroundVariant: "D3"
  "open-recent":
    listDirectoriesAddedToProject: true
  pigments:
    sortPaletteColors: "by name"
  "ruby-test": {}
  "sublime-tabs": {}
  "symbols-tree-view": {}
  "sync-settings":
    gistId: "SotaSuzuki"
  tabs:
    enableVcsColoring: true
    showIcons: true
    tabScrolling: true
  tag: {}
  "tidy-markdown":
    runOnSave: false
  "trailing-spaces": {}
  "tree-view":
    hideIgnoredNames: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "web-browser":
    useRightPane: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".html.php.text":
  editor:
    nonWordCharacters: "()\"',<>[]{}`:;"
".js.regexp.replacement.source":
  editor:
    nonWordCharacters: "()\"',<>[]{}`:;"
".js.regexp.source":
  editor:
    nonWordCharacters: "()\"',<>[]{}`:;"
".js.source":
  editor:
    nonWordCharacters: "()\"',<>[]{}`:;"
